version: 2.1
jobs:
  Test:
    docker:
      - image: circleci/node:14.15
    steps:
      - checkout
      - run: 
        name: Initiate linters and tests
        command: |
          yarn install
          yarn lint
          yarn test
  Build:
    docker:
      - image: circleci/node:14.15
    steps:
      - checkout
      - run:
          name: Build Nuxt
          command: |
            yarn install
            yarn generate

workflow:
  version: 2
  Test_and_build:
    jobs:
      - Test
      - Build:
        requires:
          - Test